doctype html 
html 
  head 
        title Gyan Dance Academy 
        block script 
        block style 
    body 
    block content 
       footer#footer
         copyright ©2023 GyanDanceAcademy.com |All rights reserved